.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
}

.drop-over {
  background-color: #f0f0f0;
}

.drop-area p {
  margin: 0;
}

// .none {
//   display: none;
// }

#editedDescription {
  border-bottom: 1px solid #ccc;
}